.DS_Store

tmux/plugins/

fish/fish_variables
fish/completions/
fish/conf.d/
fish/themes/
fish/functions/_fzf_*.fish
fish/functions/fisher.fish
fish/functions/fzf_configure_bindings.fish

karabiner/config/automatic_backups/
karabiner/config/assets/
karabiner/config/karabiner.json

yazi/plugins/
yazi/flavors/

.claude/worktrees/
.omc/sessions/
.omc/project-memory.json
.omc/state/
nvim.astronvim.bak/
